<html>

<head>
    <%- include('modules/dependencies.ejs') %>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/components/icon.min.css">
</head>

<body>
    <%- include('modules/header.ejs') %>
        <div class="page">
            <div class="message">
                <i class="ui icon warning large"></i>
                Sorry, the page you are looking for could not be found
                <a href="/">Go To Homepage</a>
            </div>
        </div>
</body>

</html>