<div class="site-header">
    <a href="/" class="title">
        <h1>
            Find Me A Strain
        </h1>
    </a>
    <div class="items">
        <a href="/" class="item">
            Home
        </a>
        <a href="/browse" class="item">
            Browse
        </a>
        <a href="/search" class="item">
            Search
        </a>
    </div>
</div>